
body {
    position: relative;
}

.section {
    padding-top: 100px;
}
.card-boite {

    background-color: #008CBA;
}
.card-davegearty {
    background-color: #449d44;
}

.project-section-one {
    background-image: url('/img/recordbox-hero.png');
    background-size: cover;
    height: 200px;
    width: 100%;

}

.project-section-two {
    background-image: url('/img/boite-hero.png');
    background-size: cover;
    height: 200px;
    width: 100%;

}


.project-section-three {
    background-image: url('/img/mcgoverns-hero.png');
    background-size: cover;
    height: 200px;
    width: 100%;

}
.project-section-four {
    background-image: url('/img/davegearty-hero.png');
    background-size: cover;
    height: 200px;
    width: 100%;

}


.card  .card-title {
    color: black;
}
.package-card {
    background-color: #242E38;
}
.bg-black {
    background-color: #242E38;
}
.details-btn {
    margin-bottom: 5rem;
}
.large-icon {
    height: 120px;
}
.radio {
    display: flex;
    flex-direction: column;
}
#packages {
    background-image: linear-gradient(rgba(88, 88, 88, 1), rgba(0, 0, 0, 00.7)),
                        url('/img/christopher-gower-291246.jpg');
    background-size: cover;
}
.nav-tabs>.nav-item>.nav-link.active {
    border: 1px solid royalblue;
}
.nav-tabs>.nav-item>.nav-link {
    color: royalblue;
}

#alert {
    display: none;
}
.loader {
    display: none;
}
.package-details {
    background-color: #919594;
}
.package-features {
    padding-bottom: 0;
}
/* Media queries */
