
body {
    position: relative;
}

.section {
    padding-top: 100px;
}
.card-boite {

    background-color: #008CBA;
}
.card-davegearty {
    background-color: #449d44;
}

.project-section-one {
    background-image: url('/img/recordbox-hero.png');
    background-size: cover;
    height: 200px;
    width: 100%;
    opacity: 0.8;
}

.project-section-two {
    background-image: linear-gradient(rgba(3, 0, 0, 56), rgba(0, 0, 0, 0.6)),url('/img/boite-hero.png');
    background-size: cover;
    height: 200px;
    width: 100%;
    opacity: 0.8;
}


.project-section-three {
    background-image: url('/img/mcgoverns-hero.png');
    background-size: cover;
    height: 200px;
    width: 100%;
    opacity: 0.8;
}
.project-section-four {
    background-image: url('/img/davegearty-hero.png');
    background-size: cover;
    height: 200px;
    width: 100%;
    opacity: 0.8;
}
.project-section h2 {
    text-transform: uppercase;
    text-align: center;
    color: black;
    background: white;
    font-size: 1.5em;
    padding: 0.5em;
    opacity: 1;
}
.project-section h2 > span {
    font-weight: 600;
    opacity: 1;
}
.project-section > a {
    position: absolute;
}
.package-card {
    background-color: #242E38;
}
.bg-black {
    background-color: #242E38;
}
.details-btn {
    margin-bottom: 5rem;
}
.large-icon {
    height: 120px;
}
.radio {
    display: flex;
    flex-direction: column;
}
#packages {
    background-image: linear-gradient(rgba(88, 88, 88, 1), rgba(0, 0, 0, 00.7)),
                        url('/img/christopher-gower-291246.jpg');
    background-size: cover;

}
/* Media queries */
