<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-header">Our Packages</a>
    {% for package in packages %}
        <a class="dropdown-item" href="/{{ package.slug|slugify }}">{{ package.name }}</a>
    {% endfor %}
</div>