<!-- the footer -->
<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/login">
                        login
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;{{ "now"|date('Y', timezone="Europe/Dublin") }}
            Have a nice {{ "now"|date('l') }}
        </div>
    </div>
</footer>
<!-- end footer -->