<!-- Modals -->
<div class="modal fade" id="projectModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">The RecordBox</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="/img/recordbox.png" alt="Card image cap">
                <ul class="list-group">
                    <li class="list-group-item">Fast, Responsive E-commerce site.</li>
                    <li class="list-group-item">Lightweight shopping cart, Snipcart.</li>
                    <li class="list-group-item">Extensive Content Management System.</li>
                    <li class="list-group-item">Discogs API integration.</li>
                    <li class="list-group-item">SSL certified.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-info" href="https://therecordbox.ie">Visit the site.</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="projectModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">La Boite A Musiques</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="/img/boiteamusiques.png" alt="Card image cap">
                <ul class="list-group">
                    <li class="list-group-item">Responsive bootstrap site.</li>
                    <li class="list-group-item">News, video, soundcloud and archive pages.</li>
                    <li class="list-group-item">Image gallery.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-info" href="http://boamusiques.co.uk">Visit the site.</a>
            </div>
        </div>
    </div>
</div>