{% extends 'base.html.twig' %}

{% block content %}
    {{ dump(entry) }}
{% for item in entry %}
    <p>{{ item.getPackage }}</p>
    <p>{{ item.getFeatureList }}</p>
    {% endfor %}
{% endblock %}
