{% extends 'frontend/base.html.twig' %}
{% block description %}Web design, development and hosting for your website.{% endblock %}
{% block title %}SolidSites ~ Web design and development ~ Meath ~ Web services{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/img/aaron-burden-327241.jpg');"></div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">Services</h1>

                    <div class="text-center">
                        <h2 class="text-white">
                            Web Design and Development
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Design</h2>
                        <h6>Our process</h6>
                        <p class="mx-auto mb-5">We take the time to understand what you need from your website.</p>
                        <p>Usually, this will be back and forth until getting a detailed brief of how the website will fit into your businesses strategy
                            .</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="section" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Development</h2>
                        <h6>Our process</h6>
                        <p class="mx-auto mb-5">This is where we code your site, taking care of all the functionality first and then layering the design on top.
                            .</p>
                        <p>We get the first draft online for you to review and then iterate on the design until ready.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Hosting</h2>
                        <h6>Our process</h6>
                        <p class="mx-auto mb-5">If you are hosting with us, we deploy your site when ready to its production server.</p>
                        <p>Your sites code is kept ready to deploy so future updates/rollbacks/changes or fixes are seamless.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator separator-primary"></div>

    {#modals #}
    {% include 'frontend/partials/modals.html.twig' %}
    {#the footer #}
    {% include 'frontend/partials/footer.html.twig' %}

{% endblock %}