{% extends 'frontend/base.html.twig' %}
{% block description %}Web design, development and hosting for your website.{% endblock %}
{% block title %}SolidSites ~ Web design and development ~ Meath ~ Web services{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/img/aaron-burden-327241.jpg');"></div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">Services</h1>

                    <div class="text-center">
                        <h2 class="text-white">
                            Web Design and Development
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h2 class="title">Our Process</h2>
                        <h6 class="card-subtitle text-secondary">stages</h6>
                        <p>Our process basically involves 3 steps, broadly speaking.</p>
                        <p>Design, develop and deploy.</p>
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="/img/joanna-kosinska-129039.jpg" alt="design picture">

                            <div class="card-body">
                                <h3 class="title">Design</h3>
                                <h6 class="card-subtitle text-secondary">Consult</h6>

                                <p class="card-text">We take the time to understand what you want from your website. We know that every site is different
                                    and will have different requirements.</p>
                                <h6 class="card-subtitle text-secondary">Research</h6>
                                <p>We do our research on keywords important to your site and also some competitior research.</p>
                                <h6 class="card-subtitle text-secondary">Design</h6>
                                <p>
                                    We get the ball rolling and send you screenshots/static pages mockups.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div id="card2" class="card child">
                            <img class="card-img-top" src="/img/caspar-rubin-224229.jpg" alt="design picture">
                            <div class="card-body">
                                <h2 class="title">Development</h2>
                                <h6 class="card-subtitle text-secondary">Coding</h6>
                                <p class="card-text">
                                    We code your site, adding in all agreed functionality
                                </p>
                                <h6 class="card-subtitle text-secondary">Testing</h6>
                                <p>unit testing, functional testing, user testing..we rigorously test your site to ensure smooth performance across
                                    all browsers and scren sizes.</p>
                                <p>We get the first draft online for you to review and then iterate on the design until ready.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="card3" class="card">
                            <img class="card-img-top" src="/img/patrick-lindenberg-191841.jpg" alt="design picture">
                            <div class="card-body">
                                <h2 class="title">Deploy</h2>
                                <h6 class="card-subtitle text-secondary">Hosting</h6>
                                <p>We set up your server and deploy your website to its live server.</p>
                                <p>Your sites code is kept ready to deploy so future updates/rollbacks/changes or fixes are seamless.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="separator separator-primary"></div>

    {#modals #}
    {% include 'frontend/partials/modals.html.twig' %}
    {#the footer #}
    {% include 'frontend/partials/footer.html.twig' %}

{% endblock %}
        {% block scripts %}
            <script src="/js/main.js"></script>
        {% endblock %}